entrypoint = "index.js"
modules = ["nodejs-22", "postgresql-16", "python-3.11"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[agent]
expertMode = true
integrations = ["javascript_database:1.0.0", "sendgrid:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35473
externalPort = 3003

[[ports]]
localPort = 35903
externalPort = 3000

[[ports]]
localPort = 36683
externalPort = 4200

[[ports]]
localPort = 37415
externalPort = 5173

[[ports]]
localPort = 38467
externalPort = 6800

[[ports]]
localPort = 39067
externalPort = 8000

[[ports]]
localPort = 41225
externalPort = 5000

[[ports]]
localPort = 45153
externalPort = 6000

[[ports]]
localPort = 45441
externalPort = 3002

[[ports]]
localPort = 46773
externalPort = 3001
